.password {
    margin-left: calc(18.4vw + 54px);
    background-color: white;
    max-width: 500px;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.password-paragraph {
    margin-top: 16px;
    font-size: 20px;
    max-width: 410px;
    color: #A0A0A0;
    margin-bottom: 56px;
}

input {
    width: 410px;
    height: 60px;
    margin-bottom: 40px;
}

.button {
    width: 410px;
    margin-top: 42px;
}